.field-menuposition .edit-menu-item-menuposition,
.field-sale .edit-menu-item-sale,
.field-column .edit-menu-item-column{
	width: 100px;
}
ul#menu-to-edit li.menu-item-depth-6 .hidn,
ul#menu-to-edit li.menu-item-depth-5 .hidn,
ul#menu-to-edit li.menu-item-depth-4 .hidn,
ul#menu-to-edit li.menu-item-depth-3 .hidn,
ul#menu-to-edit li.menu-item-depth-2 .field-enablemegamenu,
ul#menu-to-edit li.menu-item-depth-2 .field-menuposition,
ul#menu-to-edit li.menu-item-depth-2 .field-sale ,
ul#menu-to-edit li.menu-item-depth-2 .field-column ,
ul#menu-to-edit li.menu-item-depth-1 .field-shortcode,
ul#menu-to-edit li.menu-item-depth-1 .cs-fieldset,
ul#menu-to-edit li.menu-item-depth-1 .field-menuposition,
ul#menu-to-edit li.menu-item-depth-1 .field-sale ,
ul#menu-to-edit li.menu-item-depth-1 .field-column ,
ul#menu-to-edit li.menu-item-depth-1 .field-enablemegamenu ,
ul#menu-to-edit li.menu-item-depth-0 .cs-fieldset ,
ul#menu-to-edit li.menu-item-depth-0 .field-shortcode,
ul#menu-to-edit li.menu-item-depth-0 .field-columntitle{
	display: none;
}
.menu-settings {
  clear: both;
}
.menu-item-edit-active .menu-item-settings {
  overflow: hidden;
}
.wp-admin select[multiple] {
    min-height: 300px;
}
.vc_add-element-container .wpb-content-layouts a {
    line-height: 22px;
}
.vc_add-element-container .wpb-content-layouts a {
    line-height: 20px !important;
}
.regular-text {
    width: 75em;
}