/*  TABLE OF CONTENTS
01. GENERAL
02. SECTIONS
03. CONTROLS
04. MISC
*/

/* ----------------------------------------------------------------------------
	01.	GENERAL
---------------------------------------------------------------------------- */

#customize-info, #customize-controls .customize-info, #accordion-section-themes+.control-section, #customize-theme-controls .control-panel-content .control-section, #customize-theme-controls #accordion-section-themes > h3 {
	margin: 0 !important;
	border-top: 0 !important;
}
.attachment-media-view {
	background: none;
}
.customize-section-description-container {
	margin-bottom: 0;
}
li.customize-control {
	border-bottom: 1px solid #ddd;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-bottom: 0 !important;
}
li.customize-control:last-child {
	border-bottom: none;
}
li.customize-control .customize-control-title {
	font-size: 13px !important;
	font-weight: bold;
	margin-bottom: 6px;
}
li.customize-control .customize-control-description {
	font-style: normal !important;
	margin-bottom: 10px;
}
.accordion-section-content, .accordion-section-content {
	background: #FCFCFC !important;
}
/* Change "Save & Publish" button color to be grey */
.wp-core-ui #customize-header-actions .button-primary {
	color: #555 !important;
	text-shadow: none !important;
	border-color: #ccc !important;
	background: #f7f7f7 !important;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08) !important;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08) !important;
	vertical-align: top !important;
}
.wp-core-ui #customize-header-actions .button-primary.focus, .wp-core-ui #customize-header-actions .button-primary.hover, .wp-core-ui #customize-header-actions .button-primary:focus, .wp-core-ui #customize-header-actions .button-primary:hover {
	background: #fafafa !important;
	border-color: #999 !important;
	color: #23282d !important;
}
.wp-core-ui #customize-header-actions .button-primary.active, .wp-core-ui #customize-header-actions .button-primary.active:focus, .wp-core-ui #customize-header-actions .button-primary.active:hover, .wp-core-ui #customize-header-actions .button-primary:active {
	background: #eee !important;
	border-color: #999 !important;
	color: #32373c !important;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5) !important;
	box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5) !important;
}
.wp-core-ui #customize-header-actions .button-primary-disabled, .wp-core-ui #customize-header-actions .button-primary.disabled, .wp-core-ui #customize-header-actions .button-primary:disabled, .wp-core-ui #customize-header-actions .button-primary[disabled] {
	opacity: 0.6;
	color: #555 !important;
	border-color: #ccc !important;
	background: #f7f7f7 !important;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08) !important;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08) !important;
	vertical-align: top !important;
}


/* ----------------------------------------------------------------------------
	02. SECTIONS
---------------------------------------------------------------------------- */

/* Section - Social Media */
[id$="link"], [id$="iconswitch"] {
 border-bottom: none !important;
 padding-bottom: 5px !important;
}

/* Section - Homepage (Featured) */
[id$="_icon"], [id$="_title"], [id$="_desc"] {
 border-bottom: none !important;
 padding-bottom: 5px !important;
}
/* ----------------------------------------------------------------------------
	03. CONTROLS
---------------------------------------------------------------------------- */

/* Control - Checkbox */
.customize-control-checkbox label {
	margin: 0;
	font-weight: bold;
	position: relative;
}
.customize-control-checkbox .customize-control-description {
	font-weight: normal;
	margin: 10px 0 0;
}
.customize-control-checkbox label input[type=checkbox] {
	position: absolute;
	left: 0;
	top: 38px;
	margin: 0;
}
/* Control - Select */
li.customize-control select, li.customize-control input[type=text], li.customize-control .attachment-media-view {
	width: 100%;
	max-width: 300px;
}
/* ----------------------------------------------------------------------------
	04. MISC
---------------------------------------------------------------------------- */


/** Customizer section separator **/

.customize-section-wrap {
	background: #e0dfdf;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0px 1px 0px;
}
#customize-control-beetech_theme_info a {
	background: #2e8ecb;
	color: #fff;
	display: block;
	padding: 7px 0;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
}
#customize-control-beetech_theme_info a:hover {
	color: #fff;
	background: #2380BA;
}
#customize-control-beetech_theme_info a.buynow {
	padding: 0;
}
.upgrade-pro {
	background-color: #e24545;
	color: #FFF !important;
	font-size: 12px;
	padding: 5px;
	line-height: 1;
	display: block;
	margin-top: 6px;
	text-align: center;
	text-decoration: none;
}
.sticky_info_row .button {
	width: 100%;
	margin: 2px 0;
	text-align: center;
}
#customize-control-theme_info_more_theme span, #customize-control-theme_info_pro_theme span, #customize-control-theme_info_useful_plugins span {
	width: 100%;
	display: block;
	text-align: center;
}
.admin-pro-feature-list li {
	border-bottom: 1px solid #DBDBDB;
	margin: 0;
	padding: 10px 0px;
	line-height: 1;
}
.admin-pro-feature-list li:before {
	content: "\f345";
	font: 400 20px/1 dashicons;
	display: inline-block;
	font-size: 14px;
	margin-right: 5px;
}
.admin-pro-feature-list span {
	display: inline-block;
	width: 90%;
	vertical-align: top;
	line-height: 1.5;
}
.admin-pro-feature-list {
	margin: 0 5px;
}
.buynow {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
.buynow.theme-link {
	margin-bottom: 9px;
}
/** Switch Option **/
.switch_button {
	display: block;
}
.switch_button:before, .switch_button:after {
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
.switch_button:after {
	clear:both;
}
.switch_button span {
	display: inline-block;
	float: left;
	padding: 4px 9px;
	margin: 0;
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	color: #555;
	border: 1px solid #aaa;
	text-transform: uppercase;
	line-height: 16px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */
}
.switch_button span:first-of-type {
	border-radius: 2px 0 0 2px;
	border-right: 0;
}
.switch_button span:last-of-type {
	border-radius: 0 2px 2px 0;
	border-left: 0;
}
.switch_button span:hover {
	background: #fafafa;
}
.switch_button span.selected {
	color: #fff;
	border-color: #003f5d !important;
	border-color: #005077 !important;
	background-color: #0073aa !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#008bce), to(#0073aa)) !important;
	background-image: -moz-linear-gradient(top, #008bce, #0073aa) !important;
	background-image: -ms-linear-gradient(top, #008bce, #0073aa) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008bce), color-stop(100%, #0073aa)) !important;
	background-image: -webkit-linear-gradient(top, #008bce, #0073aa) !important;
	background-image: -o-linear-gradient(top, #008bce, #0073aa) !important;
	background-image: -linear-gradient(top, #008bce, #0073aa) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008bce', endColorstr='#0073aa', GradientType=0) !important;
	-webkit-box-shadow: inset 0 1px 0 #00a7f6, 0 1px 0 rgba(0,0,0,0.15) !important;
	-moz-box-shadow: inset 0 1px 0 #00a7f6, 0 1px 0 rgba(0,0,0,0.15) !important;
	-ms-box-shadow: inset 0 1px 0 #00a7f6, 0 1px 0 rgba(0,0,0,0.15) !important;
	-o-box-shadow: inset 0 1px 0 #00a7f6, 0 1px 0 rgba(0,0,0,0.15) !important;
	box-shadow: inset 0 1px 0 #00a7f6, 0 1px 0 rgba(0,0,0,0.15) !important;
}
/** Font Awesome Icon Lists **/
.fa-icons-list .icons-list-wrapper {
	height: 200px;
	display: block;
	overflow-y: scroll;
	background: #fff;
	border: 1px solid #CCCCCC;
}
.fa-icons-list .icons-list-wrapper li {
	display: block;
	float: left;
	padding: 14px;
	height: 19px;
	width: 19px;
	font-size: 19px;
	text-align: center;
	border-radius: 50%;
}
.fa-icons-list .icons-list-wrapper li:hover, .fa-icons-list .icons-list-wrapper li.selected {
	background: #5A5A5A;
	color: #fff;
}
.selected-icon-preview {
	background: #b6b6b6;
	height: 25px;
	text-align: center;
	margin-bottom: 6px;
	border: 1px solid #EEEEEE;
	border-radius: 8px;
	color: #FFFFFF;
	padding-bottom: 3px;
}
.selected-icon-preview i {
	font-size: 18px;
	padding: 6px;
}
